.btn-blue{
	background-color:#E8EFEE;
	padding: 15px 20px;
	border-radius: 5px;
	font-weight: lighter;
	color: black;
	font-family: mansalva;
	text-decoration: none;
	color: #561f4599;
	transition: color 0.3s ease; 
}


